.Contatos {
  min-height: 100vh;
}

.body-contatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 6.5rem;
}

.modalAddEdit,
.modal-delete {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto";
  font-style: normal;
}

.container-modal {
  width: 477px;
  height: 563px;

  padding: 24px;

  background: #fffdfd;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-modaldelete {
  height: 319px;
}

.btn-fechar {
  align-self: flex-end;
  margin-bottom: 1.6rem;
}

.btn-fechar:hover {
  cursor: pointer;
}

.modal-title {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 28px;
  text-align: center;

  color: #000000;

  margin-bottom: 4rem;
}

.delete-title {
  margin-bottom: 2.4rem;
}

.inputs-modal {
  all: unset;
  width: 364px;
  height: 50px;

  background: #fdfafa;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;

  padding: 16px;
  text-align: left;
  margin-bottom: 1.7rem;
}

.inputs-modal::placeholder {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 19px;

  color: #968b8b;
}

.btn_modal {
  all: unset;
  box-sizing: border-box;
  width: 364px;
  height: 50px;

  border-radius: 8px;
}

button.btn_modal {
  font-size: 1.6rem;
}

.error {
  border: 1px solid #be5050;
}

@media (max-width: 425px) {
  .container-modal {
    width: 40rem;
  }

  div.MuiPaper-root {
    width: 75vw;
  }
}

@media (max-width: 375px) {
  button.MuiButton-root {
    width: 90%;
  }

  .container-modal {
    width: 35rem;
  }

  .inputs-modal {
    width: 100%;
  }
}
